html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* ----------------------------------------------- */ 
/* ----------------------------------------------- */ 

body {
	background-color: #edf2f4;
	font-family: 'Archivo', sans-serif;
	overflow-x: hidden;
}

/* ----------------------------------------------- */ 
/* ----------------------------------------------- */ 

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	height: 50px;
	color:	#edf2f4;
	background-color: #2b2d42;
}

.page-logo {
	margin: 0;
}

.main-navigation {
	display: flex;
	align-items: center;
	position: relative;
}

.main-navigation ul {
	margin: 0 -30px;
	padding: 0;
	display: none;
	flex-direction: column;
	background-color: #2b2d42;
	position: absolute;
	top: 39px;
	right: 0;
	width: 100vw;
}

.main-navigation ul li {
	list-style-type: none;
	height: 50px;
	padding: 15px;
	text-align: center;
}

.main-navigation ul li a {
	text-decoration: none;
	color:	#edf2f4;
	padding: 15px 80px;
}

.main-navigation ul li:first-child > a {
	border-bottom: 2px solid #ef233c;
}

.hamburger-button {
	width: 35px;
	height: 28px;
	border: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.hamburger-icon, .hamburger-icon:before, .hamburger-icon:after {
	width: 100%;
	height: 4px;
	background-color: #edf2f4;
	position: relative;
}

.hamburger-icon:before, .hamburger-icon:after {
	content: '';
	position: absolute;
	display: block;
	top: -10px;
}

.hamburger-icon:after {
	top: 10px;
}


/* ----------------------------------------------- */ 
/* ----------------------------------------------- */

@media all and (min-width: 570px) {

	.main-navigation ul {
		display: flex;
		margin: 0;
		position: static;
		flex-direction: row;
		align-items: center;
		width: 100%;
	}

	.main-navigation ul li{
		border: 0;
		margin-left: 5px;
	}

	.main-navigation ul li a {
		padding: 15px 0;
		text-decoration: none;
		color:	#edf2f4;
	}

	.main-navigation ul li a:first-child {
		border: 0;
	}

}

@media all and (min-width: 571px) {
	.hamburger-button {
		display: none;
	}
}

/* ----------------------------------------------- */ 
/* ----------------------------------------------- */ 

@media all and (min-width: 720px) {

	.main-navigation ul li:hover > a {
		transition: all 0.5s ease;
		color: #ef233c;
	}
}

/* ----------------------------------------------- */ 
/* ----------------------------------------------- */ 

.main-section {
	background-color: #f6fcff;
	width: 80%;
	min-height: 80vh;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
	display: none;
	-webkit-box-shadow: 4px 4px 11px -4px rgba(0,0,0,0.75), -4px 4px 11px -4px rgba(0,0,0,0.75);
	   -moz-box-shadow: 4px 4px 11px -4px rgba(0,0,0,0.75), -4px 4px 11px -4px rgba(0,0,0,0.75);
			box-shadow: 4px 4px 11px -4px rgba(0,0,0,0.75), -4px 4px 11px -4px rgba(0,0,0,0.75);
	border-radius: 14px;
}

.start-section {
	display: inherit;
}

.main-section h1 {
	padding: 15px 0;
	font-size: 22px;
}

.main-section h1:after {
	content: '';
	height: 2px;
	max-width: 300px;
	background-color: #ef233c;
	display: block;
	margin: 15px auto;
}

.main-section h2 {
	font-size: 17px;
}


.main-section input {
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid black;
}

/* ----------------------------------------------- */ 
/* ----------------------------------------------- */ 

.set-title {
	width: 200px;
	margin: 0 auto;
}

.set-title input {
	text-align: center;
}

.set-title-label {
	font-size: 12px;
	width: 100%;
	display: block;
}

.headings {
	padding: 0 5px;
}

.headings, .term-field {
	display: flex;
	justify-content: space-between;
	padding: 10px 5px;
	margin: 5px auto;
	width: 100%;
	max-width: 600px;
	border-radius: 5px;
}

.term-field {
	background-color: #edf2f4;
	border: 0;
	border-bottom: 1px solid #ef233c;
	margin-bottom: 15px;
}

.term-field input {
	height: 30px;
	padding-left: 5px;
	margin-top: 5px;
	width: 40%;
	background-color: white;
}

.term-field input[id*="answer"] {
	text-align: right;
	padding-right: 5px;
}

.term-field .delete-icon {
	font-size: 20px;
	font-weight: bold;
	border: 3px solid black;
	color: #ef233c;
}




